examples/basic-example.json
[
  {
    "id": "example_flow_1",
    "type": "tab",
    "label": "Ví dụ Cơ bản Xiaozhi MCP",
    "disabled": false,
    "info": "Trình diễn chức năng kết nối và đăng ký công cụ Xiaozhi MCP cơ bản",
    "env": []
  },
  {
    "id": "config1",
    "type": "xiaozhi-config",
    "name": "Cấu hình Kết nối Xiaozhi",
    "endpoint": "wss://api.xiaozhi.me/mcp",
    "serverName": "NodeRED-Demo",
    "autoReconnect": true,
    "heartbeatInterval": 30000,
    "z": "example_flow_1"
  },
  {
    "id": "led_register",
    "type": "xiaozhi-tool-register",
    "name": "Công cụ Điều khiển LED",
    "xiaozhi": "config1",
    "toolName": "led_control",
    "toolDescription": "Điều khiển trạng thái BẬT/TẮT của đèn LED",
    "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"pin\": {\n      \"type\": \"number\",\n      \"description\": \"Số chân LED\",\n      \"minimum\": 0,\n      \"maximum\": 40\n    },\n    \"state\": {\n      \"type\": \"boolean\",\n      \"description\": \"Trạng thái LED (true=BẬT, false=TẮT)\"\n    }\n  },\n  \"required\": [\"pin\", \"state\"]\n}",
    "outputToFlow": true,
    "enableValidation": true,
    "executionTimeout": 5000,
    "x": 200,
    "y": 100,
    "z": "example_flow_1",
    "wires": [["led_handler"]]
  },
  {
    "id": "led_handler",
    "type": "function",
    "name": "Xử lý Logic LED",
    "func": "// Lấy tham số gọi công cụ\nconst args = msg.payload.arguments;\nconst pin = args.pin;\nconst state = args.state;\n\n// Mô phỏng logic điều khiển LED\nnode.log(`Điều khiển LED - Chân:${pin}, Trạng thái:${state ? 'BẬT' : 'TẮT'}`);\n\n// Xây dựng phản hồi\nmsg.payload = {\n  result: {\n    success: true,\n    message: `Chân LED ${pin} đã ${state ? 'BẬT' : 'TẮT'}`,\n    pin: pin,\n    state: state,\n    timestamp: new Date().toISOString()\n  }\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 100,
    "z": "example_flow_1",
    "wires": [["led_register"]]
  },
  {
    "id": "sensor_register",
    "type": "xiaozhi-tool-register",
    "name": "Cảm biến Nhiệt độ",
    "xiaozhi": "config1",
    "toolName": "read_temperature",
    "toolDescription": "Đọc dữ liệu từ cảm biến nhiệt độ",
    "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sensorId\": {\n      \"type\": \"string\",\n      \"description\": \"ID Cảm biến\"\n    },\n    \"unit\": {\n      \"type\": \"string\",\n      \"description\": \"Đơn vị nhiệt độ\",\n      \"enum\": [\"celsius\", \"fahrenheit\"],\n      \"default\": \"celsius\"\n    }\n  },\n  \"required\": [\"sensorId\"]\n}",
    "outputToFlow": true,
    "x": 200,
    "y": 200,
    "z": "example_flow_1",
    "wires": [["sensor_handler"]]
  },
  {
    "id": "sensor_handler",
    "type": "function",
    "name": "Đọc Cảm biến",
    "func": "// Lấy tham số cảm biến\nconst args = msg.payload.arguments;\nconst sensorId = args.sensorId;\nconst unit = args.unit || 'celsius';\n\n// Mô phỏng đọc nhiệt độ\nconst temperature = Math.round((Math.random() * 30 + 10) * 10) / 10;\nconst convertedTemp = unit === 'fahrenheit' ? (temperature * 9/5 + 32) : temperature;\n\nnode.log(`Đọc cảm biến ${sensorId}: ${convertedTemp}°${unit === 'celsius' ? 'C' : 'F'}`);\n\n// Xây dựng phản hồi\nmsg.payload = {\n  result: {\n    sensorId: sensorId,\n    temperature: convertedTemp,\n    unit: unit,\n    timestamp: new Date().toISOString(),\n    status: 'online'\n  }\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 200,
    "z": "example_flow_1",
    "wires": [["sensor_register"]]
  },
  {
    "id": "status_monitor",
    "type": "xiaozhi-status",
    "name": "Giám sát Trạng thái",
    "xiaozhi": "config1",
    "monitorMode": "auto",
    "outputMode": "changes",
    "pollingInterval": 10000,
    "includeStats": true,
    "includeHealth": true,
    "includeTools": true,
    "autoStart": true,
    "x": 200,
    "y": 300,
    "z": "example_flow_1",
    "wires": [["status_debug"]]
  },
  {
    "id": "status_debug",
    "type": "debug",
    "name": "Đầu ra Trạng thái",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 400,
    "y": 300,
    "z": "example_flow_1",
    "wires": []
  },
  {
    "id": "test_inject",
    "type": "inject",
    "name": "Kiểm tra Gọi Công cụ",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 120,
    "y": 400,
    "z": "example_flow_1",
    "wires": [["test_call"]]
  },
  {
    "id": "test_call",
    "type": "xiaozhi-tool-call",
    "name": "Gọi Công cụ LED",
    "xiaozhi": "config1",
    "targetTool": "led_control",
    "toolArguments": "{\n  \"pin\": 2,\n  \"state\": true\n}",
    "argumentsSource": "configured",
    "outputMode": "result",
    "errorHandling": "output",
    "callTimeout": 10000,
    "retryAttempts": 2,
    "retryDelay": 1000,
    "x": 300,
    "y": 400,
    "z": "example_flow_1",
    "wires": [["call_debug"]]
  },
  {
    "id": "call_debug",
    "type": "debug",
    "name": "Kết quả Gọi",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 500,
    "y": 400,
    "z": "example_flow_1",
    "wires": []
  },
  {
    "id": "ping_inject",
    "type": "inject",
    "name": "Gửi Ping",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 120,
    "y": 500,
    "z": "example_flow_1",
    "wires": [["ping_message"]]
  },
  {
    "id": "ping_message",
    "type": "xiaozhi-message",
    "name": "Tin nhắn Ping",
    "xiaozhi": "config1",
    "messageMode": "send",
    "messageType": "request",
    "method": "ping",
    "params": "{}",
    "paramsSource": "configured",
    "outputFormat": "payload",
    "x": 290,
    "y": 500,
    "z": "example_flow_1",
    "wires": [["ping_debug"]]
  },
  {
    "id": "ping_debug",
    "type": "debug",
    "name": "Phản hồi Ping",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 480,
    "y": 500,
    "z": "example_flow_1",
    "wires": []
  }
]