examples/basic-example.json
[
  {
    "id": "example_flow_1",
    "type": "tab",
    "label": "小智MCP基础示例",
    "disabled": false,
    "info": "演示基本的小智MCP连接和工具注册功能",
    "env": []
  },
  {
    "id": "config1",
    "type": "xiaozhi-config",
    "name": "小智连接配置",
    "endpoint": "wss://api.xiaozhi.me/mcp",
    "serverName": "NodeRED-Demo",
    "autoReconnect": true,
    "heartbeatInterval": 30000,
    "z": "example_flow_1"
  },
  {
    "id": "led_register",
    "type": "xiaozhi-tool-register",
    "name": "LED控制工具",
    "xiaozhi": "config1",
    "toolName": "led_control",
    "toolDescription": "控制LED灯的开关状态",
    "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"pin\": {\n      \"type\": \"number\",\n      \"description\": \"LED引脚号\",\n      \"minimum\": 0,\n      \"maximum\": 40\n    },\n    \"state\": {\n      \"type\": \"boolean\",\n      \"description\": \"LED状态 (true=开启, false=关闭)\"\n    }\n  },\n  \"required\": [\"pin\", \"state\"]\n}",
    "outputToFlow": true,
    "enableValidation": true,
    "executionTimeout": 5000,
    "x": 200,
    "y": 100,
    "z": "example_flow_1",
    "wires": [["led_handler"]]
  },
  {
    "id": "led_handler",
    "type": "function",
    "name": "LED处理逻辑",
    "func": "// 获取工具调用参数\nconst args = msg.payload.arguments;\nconst pin = args.pin;\nconst state = args.state;\n\n// 模拟LED控制逻辑\nnode.log(`控制LED - 引脚:${pin}, 状态:${state ? '开启' : '关闭'}`);\n\n// 构造响应\nmsg.payload = {\n  result: {\n    success: true,\n    message: `LED引脚${pin}已${state ? '开启' : '关闭'}`,\n    pin: pin,\n    state: state,\n    timestamp: new Date().toISOString()\n  }\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 100,
    "z": "example_flow_1",
    "wires": [["led_register"]]
  },
  {
    "id": "sensor_register",
    "type": "xiaozhi-tool-register",
    "name": "温度传感器",
    "xiaozhi": "config1",
    "toolName": "read_temperature",
    "toolDescription": "读取温度传感器数据",
    "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sensorId\": {\n      \"type\": \"string\",\n      \"description\": \"传感器ID\"\n    },\n    \"unit\": {\n      \"type\": \"string\",\n      \"description\": \"温度单位\",\n      \"enum\": [\"celsius\", \"fahrenheit\"],\n      \"default\": \"celsius\"\n    }\n  },\n  \"required\": [\"sensorId\"]\n}",
    "outputToFlow": true,
    "x": 200,
    "y": 200,
    "z": "example_flow_1",
    "wires": [["sensor_handler"]]
  },
  {
    "id": "sensor_handler",
    "type": "function",
    "name": "传感器读取",
    "func": "// 获取传感器参数\nconst args = msg.payload.arguments;\nconst sensorId = args.sensorId;\nconst unit = args.unit || 'celsius';\n\n// 模拟温度读取\nconst temperature = Math.round((Math.random() * 30 + 10) * 10) / 10;\nconst convertedTemp = unit === 'fahrenheit' ? (temperature * 9/5 + 32) : temperature;\n\nnode.log(`读取传感器${sensorId}: ${convertedTemp}°${unit === 'celsius' ? 'C' : 'F'}`);\n\n// 构造响应\nmsg.payload = {\n  result: {\n    sensorId: sensorId,\n    temperature: convertedTemp,\n    unit: unit,\n    timestamp: new Date().toISOString(),\n    status: 'online'\n  }\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 200,
    "z": "example_flow_1",
    "wires": [["sensor_register"]]
  },
  {
    "id": "status_monitor",
    "type": "xiaozhi-status",
    "name": "状态监控",
    "xiaozhi": "config1",
    "monitorMode": "auto",
    "outputMode": "changes",
    "pollingInterval": 10000,
    "includeStats": true,
    "includeHealth": true,
    "includeTools": true,
    "autoStart": true,
    "x": 200,
    "y": 300,
    "z": "example_flow_1",
    "wires": [["status_debug"]]
  },
  {
    "id": "status_debug",
    "type": "debug",
    "name": "状态输出",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 400,
    "y": 300,
    "z": "example_flow_1",
    "wires": []
  },
  {
    "id": "test_inject",
    "type": "inject",
    "name": "测试工具调用",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 120,
    "y": 400,
    "z": "example_flow_1",
    "wires": [["test_call"]]
  },
  {
    "id": "test_call",
    "type": "xiaozhi-tool-call",
    "name": "调用LED工具",
    "xiaozhi": "config1",
    "targetTool": "led_control",
    "toolArguments": "{\n  \"pin\": 2,\n  \"state\": true\n}",
    "argumentsSource": "configured",
    "outputMode": "result",
    "errorHandling": "output",
    "callTimeout": 10000,
    "retryAttempts": 2,
    "retryDelay": 1000,
    "x": 300,
    "y": 400,
    "z": "example_flow_1",
    "wires": [["call_debug"]]
  },
  {
    "id": "call_debug",
    "type": "debug",
    "name": "调用结果",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 500,
    "y": 400,
    "z": "example_flow_1",
    "wires": []
  },
  {
    "id": "ping_inject",
    "type": "inject",
    "name": "发送Ping",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 120,
    "y": 500,
    "z": "example_flow_1",
    "wires": [["ping_message"]]
  },
  {
    "id": "ping_message",
    "type": "xiaozhi-message",
    "name": "Ping消息",
    "xiaozhi": "config1",
    "messageMode": "send",
    "messageType": "request",
    "method": "ping",
    "params": "{}",
    "paramsSource": "configured",
    "outputFormat": "payload",
    "x": 290,
    "y": 500,
    "z": "example_flow_1",
    "wires": [["ping_debug"]]
  },
  {
    "id": "ping_debug",
    "type": "debug",
    "name": "Ping响应",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 480,
    "y": 500,
    "z": "example_flow_1",
    "wires": []
  }
]